
// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#home-outtermost {
  border: solid;
}

div#home-splash {
  border: none;
  height: 300px;
  color: transparent;
  margin: none;
  padding: 0px;
}

img#home-pic {
  padding-top: 0px;
  width: 100%;
  height: 300px;
}

p#front-title {
  color: white;
  font-family: georgia;
  font-size: 55px;
  text-align: center;
  position: relative;
  top: -170px;
}

p#front-phrase {
  color: #c0c0c0;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -200px;
}

div#song{
  border: 3px solid pink;
  height: 250px;
  padding: 10px;
}

div#song-container {
  border: solid;
  background: black;
  height: 235px;
}

img#song-pic {
  max-width: 100%;
  max-height: 100%;
  display: block;
  horizontal-algin: center;
  margin: auto;
}

p#song-title {
  color: white;
  font-family: georgia;
  font-size: 18px;
  position: relative;
  top: -170px;
  margin-left: 20px;
}

a#song-title {
  color: white;
}

p#song-description {
  color: #fff;
  text-shadow:2px 2px #000;
  font-size: 12px;
  position: relative;
  top: -170px;
  margin-left: 20px;
}

p#song-username {
  color: silver;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 35px;
}

#song-date {
  color: silver;
  font-size: 10px;
  position: absolute;
  right: 30px;
  bottom: 0;
}

a#song-username {
  color: silver
}



.songToggle{
  border: 2px solid lightblue;
  display: inline;
}

.songToggle:hover{
  background: lightgrey;
}




.FinishedSongs h1{
  color: darkgrey;
  border-bottom: 2px solid grey;
  margin-left: 350px;
}

.UnFinNav{
  border: 2px solid black;
  height: 50px;
  text-align: center;

}

.UnFinNav li{
  display: inline;
  text-align: center;
  color: orange;
  border: 2px solid black;
  margin: 5px;
  padding:5px ;
}
























.border-form-div {
  background-color: #F5F5F5;
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 100px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}




.error-text {
  color: red;
}

nav#navigation-bar-top {
  background-color: #333333;
  margin-bottom: 0px;
}

nav#navigation-bar-top a {
  color: white;
  background-color: #ff5500;
}

.nav-ul {
  float: right;
  list-style-type: none;
  height: 50px;
  margin: 0px;
}

.nav-ul-holder {
  display: inline-block;
  float: right;
  width: 700px;
}

.nav-ul li, .site-name {
  display: inline-block;
  font-size: 18px;
  padding: 11.5px;
  background-color: #ff5500;
}

.nav-ul li {
  margin: 0px 10px;
  font-size: 18px;
  border-radius: 2px;
}

.nav-ul li:last-child {
  margin: 0px;
}


.site-name {
  margin-left: 65px;
  padding: 8px 15px;
  font-size: 24px;
  border-radius: 0px 5px 5px 0px;
}

.site-logo {
  height: 50px;
  width: 65px;
  display: inline-block;
  position: absolute;
}
