
// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.displayedSongs{
  border: 2px solid black;
  height: 1000;
  width:900px;
  margin: auto;
  overflow: scroll;
}

.songToggle{
  border: 2px solid lightblue;
  display: inline;
}

.songToggle:hover{
  background: lightgrey;
}

.Song{
  height: 200px;
  width: 350px;
  display: inline-block;
  border: 3px solid pink;
  margin: 25px;
  padding: 15px;
}


.FinishedSongs h1{
  color: darkgrey;
  border-bottom: 2px solid grey;
  margin-left: 350px;
}

.UnFinNav{
  border: 2px solid black;
  height: 50px;
  text-align: center;

}

.UnFinNav li{
  display: inline;
  text-align: center;
  color: orange;
  border: 2px solid black;
  margin: 5px;
  padding:5px ;
}


.border-form-div {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 100px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.error-text {
  color: red;
}
nav#navigation-bar-top {
  background-color:#2f2f2f;
  margin-bottom: 0px;
}
