@import 'bootstrap';
// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.displayedSongs{
  border: 2px solid black;
  height: 1000;
  width:900px;
  margin: auto;
  overflow: scroll;
}

.songToggle{
  border: 2px solid lightblue;
  display: inline;
}

.songToggle:hover{
  background: lightgrey;
}

.Song{
  height: 200px;
  width: 350px;
  display: inline-block;
  border: 3px solid pink;
  margin: 25px;
  padding: 15px;
}


.FinishedSongs h1{
  color: darkgrey;
  border-bottom: 2px solid grey;
  margin-left: 350px;
}

.UnFinNav{
  border: 2px solid black;
  height: 50px;
  text-align: center;

}

.UnFinNav li{
  display: inline;
  text-align: center;
  color: orange;
  border: 2px solid black;
  margin: 5px;
  padding:5px ;
}

