div#master-view {
  height: auto;
  padding-top: 10px;
}

div#normal-button {
  padding:0px;
}

div#open-edit-delete {
  margin-top: 0px;
  margin-bottom: 0px;
}

textarea#comment-textarea {
  height: 100px;
  width: 600px;
  margin-bottom: 0px;
}

li {
  list-style-type: none;
}

h2.text-left{
  margin-top: 0px;
}

div#song-info {
  border:solid;
}

div#master-history {
  border:solid;
}

div.jumbotron {
  border:solid;
}

p#button-label {
  font-size: 14px;
}

p#new-master-submission-button {
  margin-top: 15px;
}

p#are-you-sure {
  font-size: 14px;
  margin-left: 30px;
}

p#normal14 {
  font-size: 14px;
}

form#feature-submit-form {
  border: solid;
}

button#button-submit-feature {
  margin-top: 50px;
}

h4#upload-feature-track {
  margin-bottom: 0px;
}

input#yes-im-sure {
  width: 250px;
}