div#master-view {
  height: auto;
  padding-top: 10px;
}

div#normal-button {
  padding:0px;
}

textarea#comment-textarea {
  height: 100px;
  width: 600px;
  margin-bottom: 0px;
}

li {
  list-style-type: none;
}

h2.text-left{
  margin-top: 0px;
}

div#song-info {
}

div.jumbotron {
  border:solid;
}

p#button-label {
  font-size: 14px;
}

p#new-master-submission-button {
  margin-top: 15px;
}

p#are-you-sure {
  font-size: 14px;
}

p#normal14 {
  font-size: 14px;
}