div#master-view {
  height: auto;
  padding-top: 10px;
}

div#comment-button {
  padding:0px;
}

textarea#comment-textarea {
  height: 100px;
  width: 600px;
  margin-bottom: 0px;
}

li {
  list-style-type: none;
}

h2.text-left{
  margin-top: 0px;
}

div#song-info {
}