.userpage {
  background: #eeeeee;
}

.navigation {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 40px;
  text-align: left;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
}

.collab_song, .liked_song, .project_song {
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.navigation img {
  width: 150px;
  border-radius: 45%;
  height:auto;
  float: left;
  border: 1px solid black;
}


.song_container {
  background-color: white;
}


.content-column{
  margin-left:300px;
}

.finhead {
  padding: 15px;
  background-color: gray;
  color: black;

}

ul.tab {
    list-style-type: none;
    margin: 50px;
    margin-top:30px;
    padding-top: 30px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    width:73%;
}

ul.tab li {
  float: left;
}

p, h5 {
  color:black;
}
.new_project {
  padding: 40px;
  width: 50%;
}


ul.tab li a {
    background: #d3d3d3;
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-left: 40px;
    border-radius: 10px 10px 0px 0px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #bdbdbd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #939393;}



.audio-player-holder {
  position: fixed;
  bottom: 0;
  background: #404040;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.audio-player-holder audio {
  width: 750px;
}
