
.follower_border, .talent_border {
  border-bottom: 1px solid black;
}

.date {
  color: black;
}

.collab_song, .liked_song, .project_song {
  border-bottom: 1px solid gray;
/*  float: left;*/
  padding: 10px;
}

.play {

}

#sign_out {
  margin-left: 90%;
}

.song_img {
  max-width: 200px;
/*  float: left;*/
  display: inline-block;
  margin-right: 10px;
  height: auto;
}

.song_details {
  margin-left: 20px;
  display: inline-block;
  vertical-align: center;
}

.navigation {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.navigation img {
  width: 230px;
  border-radius: 45%;
  height:auto;
  margin-bottom: 10px;
  float: left;
  border: 1px solid black;
  background: radial-gradient(#f9e48c, #4ba044);
}


.song_container {
  background-color: white;
}


.content-column{
  margin-left:300px;
}

.finhead {
  padding: 15px;
  border-radius: 5px;
  background-color: #4ba044;
  color: black;

}

ul.tab {
    list-style-type: none;
    margin: 50px;
    margin-top:30px;
    padding-top: 30px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    width:73%;
}

ul.tab li {
  float: left;
  border-bottom: 1px solid #C0C0C0;
}

p, h5 {
  color:black;
}
.new_project {
  padding: 40px;
  width: 50%;
}


ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    font-family: Georgia;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 12px;
    margin-left: 40px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #bdbdbd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #939393;}



.audio-player-holder {
  position: fixed;
  bottom: 0;
  background: #404040;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.audio-player-holder audio {
  width: 750px;
}
